[submodule "CSBus-EPS-HW"]
	path = CSBus-EPS-HW
	url = https://github.com/CougsInSpace/CSBus-EPS-HW
[submodule "CSBus-EPS-SW"]
	path = CSBus-EPS-SW
	url = https://github.com/CougsInSpace/CSBus-EPS-SW
[submodule "CSBus-PV-HW"]
	path = CSBus-PV-HW
	url = https://github.com/CougsInSpace/CSBus-PV-HW
[submodule "CSBus-RCS-HW"]
	path = CSBus-RCS-HW
	url = https://github.com/CougsInSpace/CSBus-RCS-HW
[submodule "CSBus-RCS-SW"]
	path = CSBus-RCS-SW
	url = https://github.com/CougsInSpace/CSBus-RCS-SW
[submodule "CSBus-ADCS-SW"]
	path = CSBus-ADCS-SW
	url = https://github.com/CougsInSpace/CSBus-ADCS-SW
[submodule "CSBus-CDH-SW"]
	path = CSBus-CDH-SW
	url = https://github.com/CougsInSpace/CSBus-CDH-SW
[submodule "CSBus-IFJR-SW"]
	path = CSBus-IFJR-SW
	url = https://github.com/CougsInSpace/CSBus-IFJR-SW
