[submodule "CSBus-EPS-HW"]
	path = CSBus-EPS-HW
	url = https://github.com/CougsInSpace/CSBus-EPS-HW
[submodule "CSBus-EPS-SW"]
	path = CSBus-EPS-SW
	url = https://github.com/CougsInSpace/CSBus-EPS-SW
[submodule "CSBus-PV-HW"]
	path = CSBus-PV-HW
	url = https://github.com/CougsInSpace/CSBus-PV-HW
